html {
  font: 14px sans-serif;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 10px;
  vertical-align: middle;
  width: 10px;
}

.icon-repeat {
  padding: 2px 6px 2px 0;
}

h1 {
  margin-top: 0;
}

#data {
  border-collapse: collapse;
  font: 1rem 'Inconsolata', monospace;
  line-height: 16px;
  margin: 20px 0 0 0;
  width: 960px;
}

#data thead tr {
  border-bottom: #88CCFF 2px solid;
  font-weight: bold;
}

#data tbody tr.data-row {
  cursor: default;
}

#data tbody tr:nth-child(even) {
  background-color: #DDF8FF;
}

#data tbody tr.selected {
  background-color: #336699;
}

#data tbody tr.selected td {
  color: #FFF;
}

#data tbody tr.selected:nth-child(even) {
  background-color: #2E5C8A;
}

#data td {
  border: none;
  margin: 0;
}

td.date {
  width: 100px;
}

td.amount {
  text-align: right;
  width: 85px;
}

td.amount.pos,
td.amount.neg {
  font-weight: bold;
}

td.amount.pos {
  color: #080;
}

td.amount.neg {
  color: #800;
}

td.amount.pos:before {
  content: "+";
}

td.amount.neg:before {
  content: "-";
}

button {
  background: none;
  border: #88CCFF 2px solid;
  border-radius: 4px;
  font-size: 0.9rem;
  margin: 2px 4px;
  padding: 4px 8px;
}

button:focus {
  background-color: #DDF8FF;
  outline: none;
}

button:disabled {
  border-color: #CCC;
}

#newAccountRow input[type=text],
#newTransactionRow input,
#newTransactionRow select {
  box-sizing: border-box;
  width: 100%;
}

#accountOperations,
#transactionOperations {
  text-align: right;
  margin-top: -2px;
  width: 960px;
}

#addAccountButton,
#deleteAccountButton,
#addTransactionButton,
#deleteTransactionButton {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 1px 0 0;
  padding-top: 0;
}

#deleteAccountButton,
#deleteTransactionButton {
  border-color: #FF4444;
  display: none;
}

#deleteAccountButton.visible,
#deleteTransactionButton.visible {
  display: inline-block;
}
